@font-face {
    font-family: "Daydream";
    src: url('../Fonts/Daydream.ttf');
  }
  
body {
    text-align: center;
    font-family: 'Daydream';
    background-image:url("../sprites/backgrounds/mossBackground.jpg");
}

#box {
    background-color: wheat;
    border: 5px;
    border-color: #6b5420;
    border-style: solid;
    width: 70%;
    min-height: 600px;
    min-width: 800px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

#return {
    width: 350px;
    height: 120px;
    color: white;
    font-family: "Daydream";
    font-size: 100px;
    background-color: #095f15;
    font-size: x-large;
}

#return:hover {
    background-color: #0c991f;
}