body {
    text-align: center;
    background-image:url("../sprites/FinishSprites/mossBackground.jpg");
}

#box {
    background-color: wheat;
    border: 5px;
    border-color: #6b5420;
    border-style: solid;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    min-height: 900px;
    min-width: 800px;
}

#win {
    color: green;
}

#lose {
    color: red;
}

#return {
    width: 290px;
    height: 50px;
    color: white;
    background-color: #095f15;
    font-size: x-large;
}