body {
    text-align: center;
    background-image:url("../sprites/backgrounds/mossBackground.jpg");
}

main {
    text-align: center;
    width: 70%;
    min-height: 600px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

#gameBox {
    text-align: center;
    width: 70%;
    min-height: 600px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-color: #6b5420;
    border-style: solid;
    background-color: wheat;
}

canvas {
    text-align: center;
    width: 70%;
    min-height: 600px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}