body {
    text-align: center;
    background-image:url("../sprites/backgrounds/mossBackground.jpg");
}

main {
    text-align: center;
    width: 70%;
    aspect-ratio: 1.56/1;
    min-height: 540px;
    min-width: 843px;
    max-height: 1080px;
    max-width: 1686px;
    margin-left: auto;
    margin-right: auto;
}

#gameBox {
    text-align: center;
    margin-top: 80px;
    height: calc(100% - 7px);
    border: 5px;
    border-color: #6b5420;
    border-style: solid;
    background-color: wheat;
}

.level1 {
    background-size: 100%;
    background-image: url("../sprites/backgrounds/Level1.png");
}

.level2 {
    background-size: 100%;
    background-image: url("../sprites/backgrounds/Level2.png");
}

.level3 {
    background-size: 100%;
    background-image: url("../sprites/backgrounds/Level3.png");
}

.level4 {
    background-size: 100%;
    background-image: url("../sprites/backgrounds/Level4.png");
}

.level5 {
    background-size: 100%;
    background-image: url("../sprites/backgrounds/Level5.png");
}

.spellbook {
    position: relative;
    top: 390px;
    left: 180px;
    width: 556.5px;
    aspect-ratio: 3.9/1;
    background-size: 100%;
    background-image: url("../sprites/UI/Spellbook.png");

    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 15%;
    row-gap: 10%;
    justify-content: center;
    align-content: center;
}

.question {
    position: relative;
    top: -10px;
    font-family: 'Daydream';
    font-size: 21px;
    color: #1b0401;
    background: none;
    border: none;
}

.question:hover {
    color: #2660ff;
}

.wrongAnswer {
    position: relative;
    top: -10px;
    font-family: 'Daydream';
    font-size: 21px;
    color: #b70000;
    background: none;
    border: none;
}

canvas {
    text-align: center;
    width: 100%;
}

/* @font-face {
    font-family: Daydream;
    src: url(../Fonts/Daydream.ttf) format('ttf');
} */