@font-face {
    font-family: "Jacquard 12", system-ui;
    src: url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
  }
  
body {
    text-align: center;
    background-image:url("../sprites/backgrounds/mossBackground.jpg");
}

#menu {
    background-color: wheat;
    border: 5px;
    border-color: #6b5420;
    border-style: solid;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    min-height: 900px;
    min-width: 800px;
}

#start {
    width: 400px;
    height: 100px;
    font-size:3em;
    font-family: "Jacquard 12", system-ui;
    color: white;
    background-color: #095f15;
}

